@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242333;
  color: white;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  box-shadow: 1px 1px coral;
  font-size: 60px;
}

.nav-wrapper {
  display: flex;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.grid {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.grid div {
  /* border: 1px solid rgb(255, 255, 255); */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#points {
  font-size: 9px;
  animation: blinker 2s linear infinite;
}

#super-point {
  color: goldenrod;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 40%;
  }
}

.play {
  margin-top: 20px;
}

#start {
  border: none;
  background-color: aquamarine;
  padding: 30px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px;
  border-radius: 8px;
}

#start:hover {
  background-color: rgb(111, 222, 185);
  color: goldenrod;
}


.game-over {
  display: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  animation: fadein 1s;
}
.game-over h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  50% {
    color: goldenrod;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.play-again {
  border: none;
  background-color: aquamarine;
  padding: 30px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px;
  border-radius: 8px;
}

.play-again:hover {
  background-color: rgb(94, 189, 157);
}


.lives-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

#lives {
  justify-content: left;
  color: red;
  padding: 3px;
  font-size: 25px;
}

#live-num {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.pacman-left {
  transition: 0.7s;
  background-image: url('../img/placeholder/Pacman-left.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.pacman-right {
  transition: 0.7s;
  background-image: url('../img/placeholder/Pacman-right.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.pacman-up {
  transition: 0.7s;
  background-image: url('../img/placeholder/Pacman-up.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.pacman-down {
  transition: 0.7s;
  background-image: url('../img/placeholder/Pacman-down.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.pacman-left::before {
  transition: all 0.75s;
  transition-delay: 3ms;
}
.pacman-right::before {
  transition: all 0.75s;
  transition-delay: 3ms;
}
.pacman-up::before {
  transition: all 0.75s;
  transition-delay: 3ms;
}
.pacman-down::before {
  transition: all 0.75s;
  transition-delay: 3ms;
}

.ghost1 {
  /* background-color: red; */
  background-image: url('../img/placeholder/Ghost/blueGhost.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.ghost2 {
  /* background-color: orange; */
  background-image: url('../img/placeholder/Ghost/redGhost.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.ghost3 {
  /* background-color: yellow; */
  background-image: url('../img/placeholder/Ghost/pinkGhost.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.ghost4 {
  /* background-color: green; */
  background-image: url('../img/placeholder/Ghost/orangeGhost.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.block {
  background-color: rgba(0, 0, 255, 0.63);
}

