* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242333;
}

.grid {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.grid div {
  border: 1px solid black;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.pacman-left {
  background-image: url('../img/placeholder/Pacman-left.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.pacman-right {
  background-image: url('../img/placeholder/Pacman-right.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.pacman-up {
  background-image: url('../img/placeholder/Pacman-up.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.pacman-down {
  background-image: url('../img/placeholder/Pacman-down.gif');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
}