* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.grid div {
  border: 1px solid black;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.yellow {
  background-color: yellow;
}